<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteCond %{THE_REQUEST} \s/+index\.html[\s?] [NC]
  RewriteRule ^ / [R=301,L]
  RewriteCond %{THE_REQUEST} \s/+(.*?)\.html[\s?] [NC]
  RewriteRule ^ /%1 [L,R=301]
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [NC,L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule ^ /index.html [L]

</IfModule>
