<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /quizbowl/
  RewriteCond %{THE_REQUEST} ^[A-Z]+\s/+quizbowl/index\.html[\s?] [NC]
  RewriteRule ^index\.html$ ./ [R=301,L]
  RewriteCond %{THE_REQUEST} ^[A-Z]+\s/+quizbowl/(.+)\.html[\s?] [NC]
  RewriteRule ^ %1 [R=301,L]
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.+)/$ $1 [R=301,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

</IfModule>
